# Python bytecode
__pycache__/
*.py[cod]

# Local configuration
*.ini
*.key
*.env

# Packaging artifacts
*.egg-info/
build/
dist/
*.deb

# Logs and misc
*.log

# OS and editor-specific
.DS_Store
.vscode/
.idea/

# yt-dlp temporary/partial files
*.part
*.ytdl

# Virtual environments
venv/
.venv/

# Test artifacts
*.test
*.tmp
